<div class="mb-3 mt-3">
    <h1>SIGN IN</h1>
</div>

<%= form_with url: sign_in_path do |form| %>
<div class="mb-3">
    <%= form.label :email, class:"form-label"%>
    <%= form.text_field :email , class:"form-control", placeholder:"name@example.com" %>
</div>
<div class="mb-3">
    <%= form.label :password, class:"form-label"%>
    <%= form.password_field :password, class:"form-control", placeholder:"Password" %>
    <div class="mb-3 mt-3 ">
        <%= link_to "Forgot your password ?", password_reset_path %>
    </div>
</div>
<div class="mb-3">
    <%= form.submit "Sign in", class: "btn btn-secondary" %>
</div>
<% end %>