<div class="mb-3 mt-3">
    <h1>SIGN UP</h1>
</div>

<%= form_with model: @user, url: sign_up_path do |form| %>
<% if @user.errors.any? %>
    <div class="alert alert-danger">
        <% @user.errors.full_messages.each do |message| %>
            <div>
                <%= message %>
            </div>
        <% end %>
    </div>
<% end %>
<div class="mb-3">
    <%= form.label :name, class:"form-label"%>
    <%= form.text_field :name, class:"form-control", id:"exampleFormControlInput1", placeholder:"Your Name" %>
</div>
<div class="mb-3">
    <%= form.label :email, class:"form-label"%>
    <%= form.text_field :email , class:"form-control", id:"exampleFormControlInput1", placeholder:"name@example.com" %>
</div>
<div class="mb-3">
    <%= form.label :password, class:"form-label"%>
    <%= form.password_field :password, class:"form-control", id:"exampleFormControlInput1", placeholder:"Password" %>
</div>
<div class="mb-3">
    <%= form.label :password_confirmation, class:"form-label"%>
    <%= form.password_field :password_confirmation, class:"form-control", id:"exampleFormControlInput1", placeholder:"Confirm Password" %>
</div>
<div class="mb-3">
<%= form.submit "Sign Up", class: "btn btn-secondary" %>
</div>
<% end %>

